* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    color: #E5AA70; 
    text-align: center;
    background-image: url(./chocolate-background.jpg);
}

nav {
    padding:20px;
}

nav > button {
    margin:10px; 
    height: 30px;
    width: 50px;
}

.home-div, .menu-div, .about-div {
    border-radius: 25px; 
    background-color: #7B3F00;
    padding:10px; 
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
}

.home-div > div {
    border: 5px solid #490206; 
    padding:0px; 
    margin: 20px; 
}

.info-div > p {
    padding:15px; 
}

h2 {
    padding:15px;  
}

.hours-div > ul {
    list-style-type: none;
    padding:15px; 
}

.address-div > p {
    padding:15px; 
}

img {
    height:250px;
    width:250px; 
}

.menu-div > div {
    border: 5px solid #490206; 
    padding:0px; 
    margin: 20px; 
}